:host {
  display: flex;
  gap: 12px;

  section {
    background-color: white;
    color: black;
    padding: 20px;
    flex-grow: 1;

    h2 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
      }
    }

    hr {
      border-top: 1px dotted #8c8b8b;
      border-bottom: 1px dotted #fff;
      margin: 20px 0;
    }

    .delete-btn {
      border: 1px solid red;
      color: red;
      border-radius: 0;
      box-shadow: none;
    }

    .mat-icon {
      margin-left: 4px;
    }
  }
}
